<!DOCTYPE frameset SYSTEM "frameset.dtd">
<frameset>
    <note/>
    <predicate lemma="spring">
        <note/>
        <roleset framnet="-" id="spring.01" name="jump" vncls="-">
            <roles>
                <role descr="entity in motion" f="pag" n="1"/>
                <note>start point/end point given their own args.</note>
                <role descr="start point" f="dir" n="2"/>
                <role descr="end point" f="gol" n="3"/>
            </roles>
            <note>Added by Julia based on spring-v.01. No corresponding VNcls.</note>
            <example name="args 1 and 2, light verb" src="" type="">
                <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
                <text>so our author has, with equal propriety, made his spring from Phaeton and Neptune</text>
                <note>this is one of those examples where there could conceivably be 2 arg0s-- in such instances, don't tag the arg0 for the noun!</note>
                <arg f="" n="0">our author</arg>
                <arg f="mnr" n="m">with equal propriety</arg>
                <arg f="lvb" n="m">made</arg>
                <rel f="">spring</rel>
                <arg f="" n="2">from Phaeton and Neptune</arg>
            </example>
            <example name="with arg2" src="" type="">
                <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
                <text>But it was destined to be resumed long before that hour, and in circumstances which gave me a shock hardly second to that caused by his spring to the door.</text>
                <note/>
                <arg f="" n="1">his</arg>
                <rel f="">spring</rel>
                <arg f="" n="3">to the door</arg>
            </example>
            <example name="arg1" src="" type="">
                <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
                <text>Now that he is about to leave middle age for the age of wisdom , this causes him to walk on eagerly , with a spring in his step .</text>
                <note/>
                <rel f="">spring</rel>
                <arg f="" n="1">in his step</arg>
            </example>
        </roleset>
    </predicate>
</frameset>
