<!DOCTYPE frameset SYSTEM "frameset.dtd">
<frameset>
  <predicate lemma="spring">
    <roleset id="spring.01" name="to develop, appear suddenly, jump">
      <aliases>
        <alias framenet="" pos="v" verbnet="">spring</alias>
        <alias framenet="" pos="n" verbnet="">spring</alias>
      </aliases>
      <note>SPRING-V NOTES: Frames file for 'spring' based on survey of sentences in the WSJ corpus. (from spring.01-v predicate notes)</note>
      <note>SPRING-N NOTES: Added by Julia based on spring-v.01. No corresponding VNcls. (from spring.01-n)</note>
      <roles>
        <note>start point/end point given their own args. (from spring.01-n)</note>
        <role descr="entity in motion" f="pag" n="1"/>
        <role descr="start point" f="dir" n="2"/>
        <role descr="end point/state" f="gol" n="3"/>
      </roles>
      <example name="springing from" src="" type="">
        <inflection aspect="ns" form="gerund" person="ns" tense="present" voice="active"/>
        <text>The laws of heredity dictate that half of the plants springing from these greenhouse-produced seeds will be male sterile and herbicide resistant and half will be male fertile and herbicide susceptible .</text>
        <arg f="" n="1">the plants</arg>
        <rel f="">springing</rel>
        <arg f="" n="2">from these greenhouse-produced seeds</arg>
      </example>
      <example name="springing to" src="" type="">
        <inflection aspect="ns" form="full" person="ns" tense="past" voice="active"/>
        <text>The new understanding did n't just spring to life in a spontaneous eruption of sweetness and light .</text>
        <arg f="" n="1">The new understanding</arg>
        <arg f="neg" n="m">n't</arg>
        <arg f="tmp" n="m">just</arg>
        <rel f="">spring</rel>
        <arg f="" n="3">to life</arg>
        <arg f="adv" n="m">in a spontaneous eruption of sweetness and light</arg>
      </example>
      <example name="args 1 and 2, light verb" src="" type="">
        <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
        <text>so our author has, with equal propriety, made his spring from Phaeton and Neptune</text>
        <arg f="" n="1">our author</arg>
        <arg f="mnr" n="m">with equal propriety</arg>
        <arg f="lvb" n="m">made</arg>
        <rel f="">spring</rel>
        <arg f="" n="2">from Phaeton and Neptune</arg>
      </example>
      <example name="with arg2" src="" type="">
        <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
        <text>But it was destined to be resumed long before that hour, and in circumstances which gave me a shock hardly second to that caused by his spring to the door.</text>
        <arg f="" n="1">his</arg>
        <rel f="">spring</rel>
        <arg f="" n="3">to the door</arg>
      </example>
      <example name="arg1" src="" type="">
        <inflection aspect="ns" form="ns" person="ns" tense="ns" voice="ns"/>
        <text>Now that he is about to leave middle age for the age of wisdom , this causes him to walk on eagerly , with a spring in his step .</text>
        <rel f="">spring</rel>
        <arg f="" n="1">in his step</arg>
      </example>
    </roleset>
  </predicate>
  <predicate lemma="spring_up">
    <roleset id="spring_up.02" name="to develop, appear suddenly">
      <aliases>
        <alias framenet="" pos="v" verbnet="">spring_up</alias>
      </aliases>
      <note>SPRING_UP-V NOTES: (from spring.02-v)</note>
      <roles>
        <role descr="entity springing up" f="ppt" n="1"/>
      </roles>
      <example name="with adverbials" src="" type="">
        <inflection aspect="progressive" form="participle" person="ns" tense="present" voice="active"/>
        <text>Recession fears are springing up again among investors .</text>
        <arg f="" n="1">Recession fears</arg>
        <rel f="">[ springing] [ up]</rel>
        <arg f="tmp" n="m">again</arg>
        <arg f="loc" n="m">among investors</arg>
      </example>
    </roleset>
  </predicate>
</frameset>
